.card {
    /* border-bottom: 1px solid rgba(165, 161, 161, 0.552); */
    display: flex;
    font-family: "Calistoga", serif;
    margin-left: 240px;
    margin-right: 20px;
    margin-top: 10px;
    flex-direction: column;

}

.content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.content h4 {
    margin-bottom: 0px;
}

.rules {
    border: 2px solid rgb(2, 221, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    background-color: rgba(25, 191, 200, 0.479);
    padding: 10px;


}

.rules h5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    font-size: medium;
    margin-bottom: 0px;

}

/* input form */
.inputTitle {
    font-family: Arial, sans-serif;
}

.inputTitle h5 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.inputTitle h6 {
    font-size: 1rem;
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
}

.inputTitle input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #16c2d8;
    color: white;
    background-color: #16d8be39;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    align-items: center;
    background-color: #040505;
    border: 2px solid rgba(97, 224, 238, 0.821);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(217, 228, 230, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin-top: 20px;
    height: 15px;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 230px;
}

.btn:hover {
    color: black;
    background-color: aquamarine;
}

.endTxt {
    display: flex;
    justify-content: center;
    /* margin: 50px;
    font-size: larger; */
    margin-bottom: 20px;
    padding: 5px;
}

.subtag {
    display: flex;
    background-color: #16c1d8a3;
    color: #c5e813;
    width: fit-content;
    padding: 1px;
    gap: 3px;
    margin-top: 6px;
    padding-left: 4px;
    border-radius: 2px;
}

.subtag button {
    margin: 2px;
    padding: 0px;
    width: fit-content;
    height: 16px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: transparent;
}

.tagcol {
    display: flex;
    gap: 6px;
    margin-top: 9px;
}

.endTxt a {
    margin: 0px;
    padding: 5px;
}

input[type="file"] {

    padding: 1px;
}