body {
    color: white;
}

.content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    align-items: center;
    background-color: #040505;
    border: 2px solid rgba(97, 224, 238, 0.821);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(217, 228, 230, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    height: 15px;
    padding: 20px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 130px;
}

.btn:hover {
    color: black;
    background-color: aquamarine;
}

.card {
    border-bottom: 1px solid rgba(165, 161, 161, 0.552);
    display: flex;
    font-family: "Calistoga", serif;
    margin-left: 240px;
    margin-right: 20px;
    margin-top: 10px;
}

.cardsec1 {
    width: 150px;
}

.cardsec2 a {
    padding: 6px;
}

.cardsec2{
    width: fit-content;
}
.cardsec2 div {
    padding: 6px;
}

h4 {
    margin: 0;
}

.tagbtn {
    background: #1f9486;
    border: 1px dotted white;
    color: white;
    width: auto;
    height: 20px;
    padding: auto;
    border-radius: 4px;
    margin: 3px;
}

.qasked {
    color: rgb(195, 213, 95);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.btnasked {
    width: 100%;
    display: flex;
    justify-content: space-between;
}