header {
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    border-bottom: solid 1px rgba(250, 250, 250, 0.622);
    border-width: thin;
    padding: 10px 50px;
    height: 65px;
    backdrop-filter: brightness(110%) blur(6px);
}

.fixed {
    position: fixed;
    width: 100%;

}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "Shadows Into Light Two", cursive;
}

.logBtn {
    background-color: transparent;
    color: rgb(252, 252, 252);
    border-radius: 2px;
    border: solid 1px white;
    cursor: cell;
    transition: 1s;
}

.logBtn:hover {
    background: rgb(42, 41, 41);
}

div a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 10px;
    text-decoration: inherit;
    color: inherit;
}

header div {
    display: flex;
    padding: 15px;
}