.btn {
    align-items: center;
    background-color: #040505;
    border: 2px solid rgba(97, 224, 238, 0.821);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(217, 228, 230, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    height: 15px;
    padding: 20px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 130px;
}

.btn:hover {
    color: black;
    background-color: aquamarine;
}

.content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 240px;
    margin-right: 20px;
    margin-top: 10px;
}

.card h4 {
    word-spacing: 2px;
    letter-spacing: 1px;
    color: rgb(23, 221, 228);
}

.qcontent p {
    font-size: large;
    font-weight: 100;
    padding: 20px;
}

.qcontent img {
    padding-left: 20px;
    display: block;
    height: 100%;
    background-size: cover;
}

 .preview-img.preview-active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 90%;
    height: 90%;
    cursor: zoom-out;
}

.preview-img:hover {
    cursor: zoom-in;
}

.preview-img.preview-active:hover,
.preview-img.preview-active:active {
    cursor: zoom-out;
}



.ans {
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #e6e6e663;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #9999992a;
}

textarea {
    width: 90%;
    font-size: 1rem;
    border: 2px solid #16c2d8;
    color: white;
    background-color: #16d8be39;
    border-radius: 5px;
    box-sizing: border-box;
}

.answerq {
    padding-top: 30px;
    margin-left: 30px;
}