  .tagcon {
        margin-left: 250px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4 , 1fr); 
        margin-top: 20px;
        gap: 20px;
         padding-top: 0px;
    }

    .intagcon {
        background-color: rgba(73, 205, 205, 0.211);
        border: 1px solid rgba(255, 255, 255, 0.522);
        color: rgb(220, 242, 243);
        padding: 10px; 
        transition: 900ms;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 248px;
        height: 120px;
        border-radius: 10px;
    }

    .intagcon > div,
    .intagcon p {
        margin: 1px;
    }