.center {
    display: flex;
    justify-content: center;
}

body {
    color: white;
}

.desctext {
    color: rgba(255, 255, 255, 0.586);
    display: flex;
    text-align: center;
    align-items: center;

    font-family: "Limelight", sans-serif;
    /* border: 1px dotted rgb(82, 80, 80); */
    height: 100px;
}

.grid {

    justify-content: center;
    margin: 0 190px;

}

.headingtxt {
    color: white;
    font-size: xx-large;
    /* border: 1px dotted rgb(82, 80, 80); */
    padding: 0px;
    margin-top: 150px;
    font-family: "Rubik Doodle Shadow", system-ui;
    letter-spacing: 7px;

}

.headingtxt h1 {
    margin: 15px;

}

.btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn2 {
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(249, 246, 246, 0.855);
    border-radius: .25rem;
    box-shadow: rgba(137, 135, 135, 0.315) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btns {
    margin-top: 40px;
    column-gap: 50px;
    margin-right: 30px
}