body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    color: rgb(181, 185, 188);
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    border-bottom: solid 1px rgb(158, 152, 152);
    border-width: thin;
    padding: 15px 50px;
    height: 80px;

}

.logBtn {
    background-color: transparent;
    color: rgb(252, 252, 252);
    border-radius: 2px;
    border: solid 1px white;
    cursor: cell;
    transition: 1s;
}

.logBtn:hover {
    background: rgb(42, 41, 41);
}

div a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 10px;
}

header div {
    display: flex;
    padding: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

.desctext {
    color: rgba(255, 255, 255, 0.586);
    text-align: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 1px dotted rgb(82, 80, 80); */
    height: 100px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    margin: 0 140px;

}

.headingtxt {
    color: white;
    font-size: xx-large;
    /* border: 1px dotted rgb(82, 80, 80); */
    padding: 0px;
    margin-top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}

.headingtxt h1 {
    margin: 15px;
}