body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    border-bottom: solid 1px white;
    padding-left: 50px;
    padding-right: 50px;

}

.logBtn {
    background-color: transparent;
    color: rgb(252, 252, 252);
    border-radius: 2px;
    border: solid 1px white;
    cursor: cell;
    transition: 1s;
}

.logBtn:hover {
    color: black;
    background: white;
}

div a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 10px;
}

header div {
    display: flex;
    padding: 15px;
}