    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #52545ba7;

        /* Set the background color to white */
    }

    button {
        width: 370px;
        margin-top: 20px;
        padding: 10px;
        background-color: #6773e5;
        border: none;
        color: #ffffff;
        cursor: pointer;
        border-radius: 10px;
        box-shadow:
            12px 12px 16px 0 rgba(0, 0, 0, 0.25),
            -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    }

    ::selection {
        color: white;
        background-color: #bc74cceb;
    }

    .element {
        background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
        box-shadow:
            12px 12px 16px 0 rgba(0, 0, 0, 0.25),
            -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        border-radius: 50px;
    }

    .container {
        width: 390px;
        margin: 100px auto;
        background-color: #ffffff;
        /* Set the background color to white */
        padding: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container h1 {
        text-align: center;
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    button:hover {

        background-color: #154d85;
    }

    .coolinput {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        width: 370px;
        position: static;
        max-width: 640px;
        padding: 10px;

    }

    .coolinput label.text {
        font-size: 0.75rem;
        color: #818CF8;
        font-weight: 700;
        position: relative;
        top: 0.5rem;
        margin: 0 0 0 7px;
        padding: 0 3px;
        background: #e8e8e8;
        width: fit-content;
    }

    .coolinput input.input {
        padding: 11px 10px;
        font-size: 0.75rem;
        border: 2px #818CF8 solid;
        border-radius: 5px;
        background: #e8e8e8;
        color: rgb(0, 0, 0);
    }

    .coolinput input.input:focus {
        outline: none;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .lastText {
        padding-top: 30px;
        font-weight: 50;
        font-size: small;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    span {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #0a157c;
    }

    .signlink {
        padding-top: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #0a157c;

    }

    a {
        padding-left: 3px;
    }