body {
    color: white;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 100px;
    left: 0;
    margin: 10px;
    background-color: #111111;
    padding-top: 0px;
    margin-top: 0px;
    border-radius: 20px;
    padding-bottom: 20px;

}

svg {
    height: 25px;
    width: 35px;
    padding-top: 15px;
    padding-left: 10px;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: start;
    padding-left: 0px;
    padding-top: 13px;
}

.sidehead {
    border-bottom: solid 1px rgba(242, 232, 232, 0.652);
    display: flex;
    padding: 2px;
    margin: 15px;
    margin-top: 0px;
}

.sidecon {
    display: flex;
    padding: 2px;
    margin: 15px;
    border-radius: 10px;
    transition: 1s;
    background-color: rgba(86, 84, 84, 0.288);
}

.sidecon:hover {
    color: black;
    background-color: rgb(195, 191, 191);
}